.imgcentral{

    text-align: center;
}
.title{
font-family: 'Lobster', cursive;;
font-size: 60px;
text-align: center;
}
.title_comentary{
    font-family: 'Lobster', cursive;;
    font-size: 
    40px;
    text-align: center;
}
.title_comentary1{
    font-family: 'Lobster', cursive;;
    font-size: 
    25px;
    text-align: center;
}
.iron
{
    padding:0px 90px 0px 110px
}

.batman{
    font-family: 'Lobster', cursive;;
    font-size: 
    40px;
    text-align: center;
    padding:  0px 90px 0px 50px;

}
.title_comentary1_batman{

    font-family: 'Lobster', cursive;;
    font-size: 
    25px;
    text-align: center;
    padding:  0px 50px 0px 90px;

}
.comentary
{
    font-family: 'Redressed', cursive;
    font-size: 19px;
    text-align: center;
}
.title_comentary2{
    font-family: 'Lobster', cursive;;
    font-size: 
    15px;
    text-align: center;
}

.comentary1
{
    font-family: 'Redressed', cursive;
    font-size: 18px;
    text-align: center;
}
.gallery
{
    font-family: 'Redressed', cursive;
    padding: 20px; 
    font-size: 50px; 
    text-align: center; 
}
.gallery1{

    
}